{% extends "admin/change_list.html" %}
{% load staticfiles admin_list i18n future grp_tags grp_csrf mezzanine_tags %}


{% block content %}
    <ul class="object-tools">
        <li><a href="add/">Dodaj</a></li>
    </ul>
    <div id="content-main">
        <style>
            .pagination { display: inline-block; float: right; }
            .pagination li { display: inline; }
            .pagination li.prev,
            .pagination li.next { display: none; }
            .pagination li.active a {
                color: #000;
                background: transparent; border: none;
            }
        </style>

        <!-- Changelist -->
        <div class="module filtered" id="changelist">
            <div class="changelist-content">
                <form action="" method="post">{% grp_csrf_token %}
                    <!-- Results -->
                    <div class="result-list-container">
                        <div class="result-list">
                           <div class="changelist-actions actions">
                                <label>
                                    <select name="action">
                                        <option value="" selected="selected">---------</option>
                                        <option value="subscribe_selected">Subscribe</option>
                                        <option value="unsubscribe_selected">Unsubscribe</option>
                                        <option value="remove_selected">Remove</option>
                                    </select>
                                </label>
                            </div>
                            <table cellspacing="0" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="width: 10px;"><input type="checkbox" id="select-all"></th>
                                        <th style="width: 30px;">ID</th>
                                        <th>E-mail</th>
                                        <th style="width: 140px;">Subscription status</th>
                                        <th style="width: 120px;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for subscriber in subscribers %}
                                        <tr class="{% cycle 'row1' 'row2' %}">
                                            <td class="action-checkbox"><input type="checkbox" class="action-select" value="{{ subscriber.pk }}" name="_selected_action"></td>
                                            <td><a href="{% url 'admin:newsletter_contact_change' subscriber.pk %}">{{ subscriber.pk }}</a></td>
                                            <td>{{ subscriber }}</td>
                                            {% if subscriber in unsubscribers %}
                                            <td>Unsubscriber</td>
                                            <td>
                                                <a href="unsub/{{ subscriber.pk }}">Unsubscribe</a>
                                            {% else %}
                                            <td>Subscriber</td>
                                            <td>
                                                <a href="sub/{{ subscriber.pk }}">Unsubscribe</a>
                                            {% endif %}
                                                <span class="separator">|</span>
                                                <a href="remove/{{ subscriber.pk }}">Remove</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="paginator">
                            {% blocktrans with subscribers|length as counter %}{{ counter }} subscribers{% endblocktrans %}
                            {% pagination_for subscribers %}
                        </div>
                    </div>

                    <!-- Submit-Row -->
                    <p class="submit-row">
                        <input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>
                    </p>
                </form>
            </div>

            <!-- Sidebar -->
            {% block filters %}
            <div id="changelist-filter">
                <!-- Results -->
                {% ifnotequal subscribers|length full_result_count %}
                <div class="module results">
                    <h2>{% trans 'Results' %}</h2>
                    <div class="form-row">
                        <p>{% blocktrans with subscribers|length as counter %}{{ counter }} found{% endblocktrans %}</p>
                        <a href="?">{% blocktrans %}{{ full_result_count }} total{% endblocktrans %}</a>
                    </div>
                </div>
                {% endifnotequal %}

                <!-- Search Form -->
                <div class="module search">
                    <h2>Wyszukaj</h2>
                    <div id="toolbar">
                        <form id="changelist-search" action="" method="get">
                            <div><!-- DIV needed for valid HTML -->
                                <div class="form-row">
                                    <input type="text" size="40" name="q" value="" id="searchbar" class="search-fields-verbose">
                                    <input type="hidden" name="subscriber" value="{{ is_sub }}">
                                    <input type="submit" value="">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script type="text/javascript">document.getElementById("searchbar").focus();</script>
                <!-- Filter -->
                <div class="module filter">
                    <h2>Filter</h2>
                    <div class="filterset {% if not is_sub %}collapse-closed{% endif %}">
                        <h3 class="form-row"> By Status </h3>
                        <ul>
                            <li class="form-row narrow {% if not is_sub %}selected{% endif %}">
                            <a href="{{ filter_url }}">Wszystko</a></li>
                            <li class="form-row narrow {% if is_sub == "1" %}selected{% endif %}">
                            <a href="{{ filter_url }}subscriber=1">Subscriber</a></li>
                            <li class="form-row narrow {% if is_sub == "2" %}selected{% endif %}">
                            <a href="{{ filter_url }}subscriber=2">Unsubscriber</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <script>
        $("#select-all").change(function() {
            var check = this.checked;
            $(".action-select").each(function() { this.checked = check; })
        });
    </script>
{% endblock %}